:root{ 
    --night-black: #1a1a1a;  
    --dark-green: #2e9898;
}

body {
    font-family: 'Slabo 27px', serif; 
    font-size: 16px;
    font-weight: normal;  
    color: var(--night-black);
    -webkit-font-smoothing: antialiased; 
    background-color: #f7f7f7;
}  
/*NO MARGIN*/
body, .no-margin, ul, h1, h2, h3, h4, h5, h6, .row, .JScookies-part .nav > li > a {
    margin: 0;
}
/*NO PADDING*/
body, .no-padding, ul {
    padding: 0;
} 
label { font-weight: 500; }

input[type="text"], input[type="password"], select, textarea {
    width: 100%; 
    color: #000;
    padding: 5px 10px;
    height: 34px;   
    border: none; 
    border-bottom: 1px solid #000;
    font-size: 16px;
    font-weight: 400;
}
textarea { resize: none; height: auto; }

/* TINYMCE EDITOR */
.tox-tinymce {
    z-index: 5; 
}

button:focus, input:focus, textarea:focus { outline: none; }

button {
    border: none;
    background: none;
}
.button {
    display: inline-block;
    background-color: var(--dark-green);
    padding: 8px 15px;
    margin: 5px 0;
    font-weight: 400;
    letter-spacing: 1px;
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    font-size: 16px;
} 

.button:hover { background-color: #3bc4c4; }

[class*="col-"]{ min-height: 0; }

.bw { background-color: #fff; }

.padding-v-20 { padding-top: 20px; padding-bottom: 20px; }

/***********/

.mailto { word-break: break-word; }

/***********/

iframe { max-width: 100%; }

/***********/

.gallery-ban {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(8, auto); 
    grid-template-rows: repeat(4, minmax(160px, 1fr));
}
.gallery-ban .bg-img:nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 1 / 5;
} 
.gallery-ban .bg-img:nth-child(2) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
} 
.gallery-ban .bg-img:nth-child(3) {
    grid-column: 7 / 9;
    grid-row: 1 / 3;
} 
.gallery-ban .bg-img:nth-child(4) {
    grid-column: 6 / 4;
    grid-row: 3 / 5;
} 
.gallery-ban .bg-img:nth-child(5) {
    grid-column: 9 / 6;
    grid-row: 3 / 5;
}
.gallery-title {
    position: absolute;
    bottom: 30px;
    left: 15px;
    width: calc(100% - 30px);
    font-size: 180%;
}
/**************/

.gallery_slider {
    display: grid;
    grid-gap: 10px;
}
.gallery_slider a {
    border: 1px solid transparent;
    padding: 5px;
}
.gallery_slider .JSimg-gallery { 
   transition: .2s ease-in-out; 
    -webkit-transition: .2s ease-in-out; 
}
.gallery_slider .galery_Active, .gallery_slider .JSimg-gallery:hover {
   transform: scale(1.05);
   border: 1px solid #000;
}

/*--- GALLERY SLIDER ---*/ 
.JSmain_img {  
  transition: 0.3s;
  padding: 5px;
}
.JSmain_img:hover { opacity: 0.7; }

.JSmain_img, .JSclose-modal:hover { cursor: pointer; }
 
.JSmodal {
    display: none;
    position: fixed;
    z-index: 61;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.full-screen {
    height: 100%;
}
.modal-cont {
    margin: auto;
    display: block;
    max-width: 100vw;
    width: 90%;
    /*max-height: 90%;*/
    overflow: hidden; 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}  
/****************/
.modal-cont .btn {
    border: 1px solid rgba(255,255,255, .2);
    position: absolute;
    top: 50%;
    left: 1px;
    z-index: 1;
    padding: 0;
    width: 30px;
    height: 50px;
    color: #fff;
    margin-top: -25px;
    display: none;
    background: rgba(0,0,0, .8);
} 
.modal-cont .JSright_btn {
    left: unset;
    right: 1px;
}
/****************/
.modal-cont img {
    max-height: 95vh;
    background: #fff;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}  
.JSclose-modal {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 10px;
    color: #fff;
    font-size: 25px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    text-shadow: 0 0 2px #000;
}
.JSclose-modal:hover {
    opacity: .7; 
}
/***********/

.d-content { 
    min-height: 600px;  
}
.d-content:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
}
/*************/

.swal-footer { display: none; }
.swal-title {
    font-size: 22px;
    font-weight: 500;
    padding: 0 0 20px !important;    
}

/*************/
.seo {  
    position: absolute;
    top: -999px;
    left: -999px;
}

img{
    color: #bbb;  
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

/*************/

/*DISPLAY FLEX*/
.flex {
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
     display: -webkit-flex; 
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
} 

/*INLINE BLOCK*/
.inline-block { 
    display: inline-block; 
}

/*RELATIVE*/
.relative, .menu li, .footer-title {
    position: relative;
} 
 
/*DISPLAY BLOCK*/
.menu a, .footer-links a {
    display: block;
}

/*VERTICAL ALIGN*/
.v-align {
    vertical-align: middle;
}

/*OVERFLOW HIDDEN*/
.JSmain-slider, .overflow-h, .gallery_slider a, .main_imgGallery, .map-frame {
    overflow: hidden;
}
/*COLOR WHITE*/
.text-white, .button, a.button
{
    color: #fff;
}
/*MARGIN AUTO*/
.margin-auto, .gallery_slider img, .modal-cont img, .JSmain_img {
    margin: auto;
}
/*************/

a:link, a:visited, a:active { text-decoration: none; outline: none; color: inherit; }
a:hover{ color: #4ecaca; transition: all 0.1s ease 0s; -webkit-transition: all 0.1s ease 0s; }

ul { list-style-type: none; } 
  
.form-control:focus {
    border-color: var(--dark-green); 
    box-shadow: none;
} 

.slick-slider {
    margin: 0 !important;
}

/*========================*/

#admin-menu {
    padding: 2px 0px;
    background-color: #f2f2f2;
} 

/*************/
 
header {   
    color: var(--dark-green); 
}  

header, .drop-2 {
    background-color: #fff;
}
 
.logo { padding: 5px 0; }

.logo img {
    max-height: 55px; 
}
.stickyHeader {
    position: sticky;
    top: 0;
    z-index: 5;
    box-shadow: 0 1px 2px rgba(0,0,0, .2);
} 
/*************/
 
.menu a { 
    padding: 8px 10px;
}    
 
.menu > ul > li > a:hover {
    background-color: var(--dark-green);
    color: #fff;
}  
.drop-2 ul {
    margin-left: 15px;
}
.menu ul > li:hover .drop-2 {
    display: block;
}
 
/*************/
  
/*- Mail slider -*/ 
.JSmain-slider {  
    max-height: 570px;
    width: 100%;  
}
.sliderText {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: calc(100% - 20px);
}
.slider-btn-link {
    padding: 5px 10px;
    background: rgba(255,255,255,.7);
}
.JSmain-slider h2 {
    font-size: 140%;
    padding: 10px 0;
}
.JSmain-slider .sliderText {
    font-size: 110%;
}
.JSmain-slider .slick-next { right: 0; } 
.JSmain-slider .slick-prev { left: 0; }
 
.JSmain-slider .slick-next, .JSmain-slider .slick-prev {
    width: 80px;
    height: 100%;
    top: 0;
    margin: 0;
    background-color: rgba(0,0,0,.05);
    opacity: 0;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}

.JSmain-slider:hover .slick-next, .JSmain-slider:hover .slick-prev {
    opacity: 1;
}

.JSmain-slider .slick-prev:before, .JSmain-slider .slick-next:before {
    content: '';
    border: 4px solid;
    border-color: #fff #fff transparent transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
    display: inline-block;
    width: 4vw;
    height: 4vw; 
    opacity: .3;
} 
.JSmain-slider .slick-prev:hover:before,
.JSmain-slider .slick-next:hover:before {
    opacity: .7;
}
.JSmain-slider .slick-next:before {
    margin-left: -2.5vw;
}
.JSmain-slider .slick-prev:before {
    border-color: transparent transparent #fff #fff; 
    margin-right: -2.5vw;
}
.JSmain-slider .slick-prev:hover, .JSmain-slider .slick-next:hover { background-color: rgba(0,0,0,.1); }

/*************/

.bg-img {
    padding-top: 40%;
    background: center/cover no-repeat;
}
.slider-link { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: 2;
} 

/*************/
.banners {
    padding: 50px 0 20px;
}
.banner {
    margin-bottom: 15px;
}

.banners .bg-img, .txt-banner .bg-img {
    padding-top: 65%;  
} 

.banners h2 {
    font-size: 140%; 
} 
.banners p {
    margin: 0;
} 
  
/*- NEWSLETTER -*/
.newsletter {
    padding: 50px 0px; 
}
.newsletter h5 { font-size: 25px; }  

.newsletter input {
    height: 56px;
    padding-right: 150px;
    font-size: 120%;
    border: none;
    box-shadow: 0 0 0 1px #ddd inset;
} 
.newsletter button {
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
    letter-spacing: 1.5px;
    background-color: var(--dark-green);
    width: 100%;
    max-width: 145px;
}
.newsletter button:hover {  background-color: #3bc4c4; }
 
/**************/
.main-desc {
    line-height: 30px;
    font-size: 120%; 
}
/**************/

.card-blog {
    margin: 15px 0;
    padding: 5px;
}
.card-blog:hover {
    box-shadow: 0 0 0 1px #bfbfbf;
}
.card-blog .bg-img {
    padding-top: 70%;
}
.blogs-title {
    margin: 15px 0;
    font-size: 115%; 
}
.blog-title {
    margin: 10px 0;
    padding: 10px 0;
    font-size: 25px;
}
.blogs-date {
    opacity: .7;
    font-size: 90%;
}
.JSblog-slick .slick-prev, 
.JSblog-slick .slick-next {
    position: absolute;
    top: -40px;
    right: 5px;
    z-index: 2;
    background: #fff;
    width: 35px;
    height: 35px;
    font-size: 0;
}
.JSproducts_slick .slick-prev, 
.JSblog-slick .slick-prev {
    right: 45px;
    left: unset;
}
.JSblog-slick .slick-prev:before,
.JSblog-slick .slick-next:before {
    content: '';
    border: 3px solid;
    border-color: var(--dark-green) var(--dark-green) transparent transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
} 
.JSblog-slick .slick-prev:before {
    border-color: transparent transparent var(--dark-green) var(--dark-green);
    margin: 0 0 0 5px;
}

/***************/

.soc-cont {
    padding: 15px 0;
}
.soc-cont a { 
    color: #fff;
    display: inline-block;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    margin: 3px;
}
.soc-cont a:hover {
    box-shadow: 0 0 0 2px rgba(0,0,0, .5);
}
.soc-cont .fb {
    background: #3b5999;
}
.soc-cont .tw {
    background: #55acee;
}
.soc-cont .ln {
    background: #0077B5;
}
.soc-cont .pin {
    background: #bd081c;
}
.soc-cont .vib {
    background: #59267c;
}
.soc-cont .mail {
    background: #1aafff;
}
/***************/

.single-new > .bg-img {
    padding-top: 70%;
}
.single-new .JSblog-slick button {
    display: none !important;
}
/***************/
.section-title {
    margin: 10px 0;
    font-size: 26px;
    padding: 10px 0; 
    display: block;
}
/**************/

.contact-info span {
    min-width: 190px;
    max-width: 195px;
    display: inline-block; 
    margin: 0 10px;
}

.map-frame {
    margin: 10px 0;
    height: 330px; 
}
.map-info {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 225px;
    height: 54px;
    background: #fff;
    padding: 10px 0 10px 15px;
}
.map-info h5 {
    text-shadow: 0 0 0.1px;
    font-size: 14px;
    margin: 0 0 5px; 
    color: #000;
}
.map-info h6 { 
    color: #5B5B5B; 
    font-size: 12px;
}
.map-info h5, .map-info h6 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
footer .map-frame {
    max-height: 230px;
}

/*============== COOKIES ===========*/
.JScookies-part {
    position: fixed;
    left: 0;
    bottom: -500px;
    z-index: 999;
    width: 100%;
    background: rgba(255,255,255,.9);
    box-shadow: #737373 2px 7px 9px 2px;
    -webkit-box-shadow: #737373 2px 7px 9px 2px;
}
.JScookies-part .alert {
    max-width: 640px;
    width: 100%;
}
.JScookies-part .tab-titles li {
    float: none;
    clear: both;
}
.JScookies-part .tab-content, .JScookies-part .nav-tabs  { border-color: transparent; }

.JScookies-part .nav-tabs { background: #f5f5f5; }

.cookies_tabs {
    border: 1px solid #f5f5f5;
    background: #fff;
}
.JScookies-part .tab-content {
    max-height: 115px;
    overflow-y: auto;
    padding: 5px 0 0;
}
.JScookies-part .nav-tabs > li > a, .JScookies-part .nav-tabs > li.active > a { padding: 5px 15px; }  

.JScookies-part .nav-tabs, .JScookies-part .nav-tabs > li > a, .JScookies-part .nav-tabs > li.active > a { 
    border: none; 
    border-radius: 0; 
}
.JScookies-part .nav-tabs > li > a:hover { background: #fff; }

.JScookies-part h4 { padding-bottom: 5px; }

.JScookiesInfo_btn { text-decoration: underline; }

.cookies_tabs { display: none; }

.JScookiesInfo_btn { cursor: pointer; }

/*==========================================*/
.dynamic-content {
    padding: 30px 0;
}  
.dynamic-content img {
    max-width: 100%; 
}
  /* POLLS */
.polls {
    max-width: 600px;
    margin: auto;
    background: rgba(0,0,0, .03);
    padding: 5px 15px;
}
.poll {
    box-shadow: 0 0 8px rgba(0,0,0, .1);
    background: #fff;
    padding: 15px;
    margin: 15px 0;
}
.poll .question {
    font-size: 105%;
    margin: 0 0 5px;
}
.poll input { cursor: pointer; }

.poll .answer {
    padding: 2px 0;
} 
.poll .answer:hover {
    background: rgba(0,0,0, .03);
}
.polls .btn {
    background: rgba(0, 0, 0, .05);
    width: 100%;
    max-width: 115px;
}
.polls .btn:hover {
    background: rgba(0, 0, 0, .09);
}
/************/

.red-dot-error {
    color:  #f00;
}
/*==========================================*/
.first-popup {
    position: fixed;
    top: -1000px; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    /*display: none;*/
}
.first-popup .first-popup-inner { margin: auto;  border: 1px solid #ddd;}
.first-popup .JSclose-me-please{
    color: #f2f2f2;
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 5;
    font-size: 30px;
    line-height: 1;
    padding: 0 5px;
    cursor: pointer;
    text-shadow: 0 0 3px #000; 
}
.first-popup .JSclose-me-please:hover {
    opacity: .8;
    text-shadow: 0 0 10px #000;
}
.first-popup-inner img {
    max-width: 100%;
    max-height: 380px;
    padding: 2px;
}  
 

/***************/
 
a.JSscroll-top {
    position: fixed;
    font-size: 14px; 
    color: #fff;
    right: -70px;
    bottom: 90px;
    background-color: var(--night-black);
    z-index: 9;
    border: 1px solid rgba(242,242,242,.4);
    padding: 10px 15px; 
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out; 
}
a.JSscroll-top:hover { 
    background-color: #424242 !important;
} 
/*--- Footer ---*/
footer {
    padding: 30px 0 0; 
    color: var(--dark-green);
    border-top: 1px solid rgba(0,0,0, .1);
    background-image: url('/images/presentationImages/footer-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 
footer:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255, 0.8);
}
.footer-content {
    z-index: 2;
}
.footer-title {
    font-size: 20px;
    padding: 10px 0 20px; 
}
.footer-title:after {
    content: '';
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 40px;
    height: 1px;
    background: var(--dark-green);
}  
footer li {
    margin: 8px 0;
}
footer .logo { 
    padding: 10px 0px 20px;
}
footer .logo img {
    max-height: 60px;
    max-width: 100%;
} 
footer .below-footer {
    padding: 30px 0px 10px;  
}   
/***************/
.social-icons a {
    display: inline-block;
    font-size: 16px;
    width: 25px;
    height: 25px;
    margin: 3px;
    line-height: 25px;
    text-align: center;  
}
.social-icons a:hover {
    opacity: .7;
}

/*==========================================*/

@media (min-width: 1200px) {  
    .d-content:after { 
        max-width: 1170px; /* CONTAINER CONTENT WIDTH */
        left: calc(50% - 585px); /* 570px = (CONTAINER CONTENT WIDTH / 2)  */ 
    }  
}

@media screen and (min-width: 991px) { 
    .menu > ul > li {
        display: inline-block; 
    }
    .drop-2 {
        display: none;
        position: absolute;
        top: 100%;
        left: 0; 
        min-width: 180px; 
        z-index: 3; 
        box-shadow: 1px 1px 3px rgba(0,0,0, .2);
    } 
 
    .blogs-title { 
        height: 41px;
    }
    /*.main-desc { 
        padding: 40px 0;
    } */
    .menu > ul > li > a {
            line-height: 55px;
    }

    /*.JSmain-slider .bg-img { padding-top: 30%; }*/

}
/************/
@media screen and (min-width: 768px) { 
    .JSmain-slider .sliderText{
        left: 85px;
        width: calc(100% - 170px);
    }

    .banners .banner:after, .gallery-ban .bg-img:after, .txt-banner:after {
        content: '';
        position: absolute;
        z-index: 2;
        top:0;
        left: 0%;
        width: 0;
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
        transform: skewX(-25deg);
        -webkit-transform: skewX(-25deg);
        pointer-events: none;
    }

    .banners .banner:hover:after, .gallery-ban .bg-img:hover:after, .txt-banner:hover:after {
        left:125%; 
        width: calc(100% - 15px);
        transition: .5s linear;
        -webkit-transition: .5s linear;
    }

    .main_imgGallery { height: 500px; }

    .main_imgGallery .JSmain_img { max-height: 490px; }

    .container-fluid  .gallery_slider {
        grid-template-columns: repeat(15, 1fr);
    }
    .container .gallery_slider { grid-template-columns: repeat(10, 1fr); }
    
    .gallery_slider {
        grid-auto-rows: 70px;
    }
    .gallery_slider img { max-height: 60px; }

    .JScookiesInfo_btn { 
        float: right; 
        padding: 8px 15px;
        margin: 5px 0;
    }
}
/************/
@media screen and (max-width: 991px) {   

    .menu-toggle { 
        font-size: 25px;
        padding: 0 5px;
    }  
    .menu {
        position: fixed;
        z-index: 100;
        height: 100%;
        top: 0;
        right: 0;
        width: 0;
        max-width: 250px;
        background-color: rgba(255,255,255, .9);
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;  
    }  
    .menu.open-menu {
        width: 100%;
    }
    .close-nav {
        padding: 10px;
        font-size: 20px;
    }
    .drop-2 {    
        background: transparent; 
        margin-left: 15px;
    } 

}    
/***************/
@media screen and (max-width: 768px) {  
    .newsletter button {
        max-width: 105px;
    }
    .newsletter input { 
        padding-right: 110px; 
    }

    .banners {
        padding: 20px 0;
    }

    .gallery-ban {
        grid-template-rows: repeat(4, minmax(40px, 1fr));
    }

    .gallery-title {
        font-size: 110%;
    }
    /****************/
    .main_imgGallery { height: 200px; }

    .main_imgGallery .JSmain_img { max-height: 190px; }

    .gallery_slider {
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 50px;
    }
    .gallery_slider img { max-height: 40px; }
}
/*==========================================*/
@media screen and (max-width: 479px) {
 
    .newsletter h5 {  font-size: 20px; } 

    .JSmain-slider { font-size: 80%; }

    .section-title {
        font-size: 80%;
    }
    .main-content{ min-height: 300px; }
 
    .bg-img {
        padding-top: 55%;
    }
    .sliderText {
        font-size: 90%;
        background: rgba(255, 255, 255, .3);
    }
}
