/*MICROSOFT PAGE*/
/*html,
  body {
    margin: 0;
    padding: 0;
    text-align: center;
  }*/

  body {
    font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

.microsoft-page h1, .microsoft-page h2, .microsoft-page h3, .microsoft-page h4, .microsoft-page h5, .microsoft-page p {
  margin: 0 0 20px 0;
  padding: 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.microsoft-page h1 {
  font-size: 45px;
  line-height: 60px;
  font-weight: 600;
  margin-bottom: 40px;
}

.microsoft-page h2 {
  font-size: 45px;
  line-height: 48px;
  font-weight: 600;
  margin-bottom: 25px;
}

.microsoft-page h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.microsoft-page p {
  font-size: 18px;
  color: #010101;
}

.microsoft-page p a {
  color: #0078d4;
  text-decoration: none;
}

.microsoft-page .font-size-14 {
  font-size: 14px;
  line-height: 20px;
  border-top: 1px solid #cbcbcb;
  padding-top: 20px;
}

.microsoft-page .office-icons-padd hr {
  height: 170px;
}

.microsoft-page .footnote {
  font-size: 11px;
  line-height: 18px;
  color: #010101;
} 

.microsoft-page .footnote a {
  color: #010101;
}

.microsoft-page p sup {
  font-size: .6rem;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.microsoft-page.wrapper {
  width: 100%;
}

.microsoft-page .container {
  width: 100%;
  clear: both;
}

.microsoft-page .row {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.microsoft-page .col-3,
.microsoft-page .col-4,
.microsoft-page .col-6,
.microsoft-page .col-12 {
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 20px;
}

.microsoft-page .col-3 {
  width: 25%;
}

.microsoft-page .col-4 {
  width: 33.3333337%;
}

.microsoft-page .col-6 {
  width: 50%;
}

.microsoft-page .col-12 {
  width: 100%;
}

.microsoft-page .logos .row,
.microsoft-page .hero .row {
  align-items: center;
}

.microsoft-page .logos .row {
  min-height: 73px;
}

.microsoft-page .logos .col-6 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.microsoft-page .hero {
  height: 600px;
  background: #f4f4f4 url("/../../images/microsoft-images/hero-background.jpg") no-repeat 100% 50%;
  background-size: contain;
  margin-bottom: 80px;
}

.microsoft-page .hero h1,
.microsoft-page .hero p {
  max-width: 300px;
  margin-left: 0;
  margin-right: auto;
}

.microsoft-page .hero p {
  color: #000;
}

.microsoft-page .hero .row.content {
  height: 100%;
}

.microsoft-page .bar-divider {
  display: block;
  max-width: 238px;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 30px;
}

.microsoft-page .cta {
  display: inline-block;
  padding: 0 30px;
  line-height: 47px;
  padding-bottom: 3px;
  background-color: #0078d4;
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  text-decoration: none;
}

.microsoft-page .outline-box {
  padding: 80px 40px;
}

.microsoft-page .outline-box-white h2 {
  color: #0078d4;
}

.microsoft-page .outline-box p {
  margin-bottom: 0;
  color: #ffff;
}

.microsoft-page .side-by-side-padd ul {
  padding: 0 1rem;
  font-size: 18px;
}

.microsoft-page .side-by-side-padd li {
  padding-bottom: 1rem;
  list-style-type: disc;
}

.microsoft-page .outline-box {
  background-color: #0078d4;
  color: #ffff;
}

.microsoft-page .outline-box h2 {
  font-size: 45px;
  font-weight: 600;
  padding-bottom: 15px;
}

.no-padd {
  padding: 0 !important;
}

.microsoft-page .side-by-side .row {
  margin-bottom: 80px;
}

.microsoft-page .side-by-side .col-6 {
  padding: 0;
}

.microsoft-page .side-by-side-icon {
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: auto;
  display: block;
}

.microsoft-page .side-by-side-padd {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
  padding-left: 36px !important;
  padding-right: 36px !important;
}

.microsoft-page .side-by-side-padd h2 {
  font-size: 28px;
  line-height: 39px;
}

.microsoft-page .play-protection {
  display: block;
  background: url("/../../images/microsoft-images/pic-protect.jpg") no-repeat 50% 50%;
  background-size: cover;
  height: 100%;
}

.microsoft-page .play-empower {
  display: block;
  background: url("/../../images/microsoft-images/pic-empower.jpg") no-repeat 50% 50%;
  background-size: cover;
  height: 100%;
}

.microsoft-page .play-improve {
  display: block;
  background: url("/../../images/microsoft-images/pic-quickly.jpg") no-repeat 50% 50%;
  background-size: cover;
  height: 100%;
}

/*footer {
  background-color: #505050;
  padding-bottom: 100px;
}

.logos-footer .row {
  min-height: 35px;
}

.logos-footer .col-6 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.logos-footer p {
  color: white;
  max-width: none;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.logos-footer p sup {
  padding-left: 0;
  float: left;
  margin-top: -1px;
  padding-right: 5px;
}*/

.microsoft-page .social {
  padding: 45px 0;
}

.microsoft-page .content-social {
  padding: 0 10px;
}

.microsoft-page .social a,
.microsoft-page .social a img {
  display: inline-block;
}

.microsoft-page .full-graphic {
  background-color: #f4f4f4;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 80px;
}

.microsoft-page .full-graphic-partner {
  background-color: #f4f4f4;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

}
.microsoft-page .full-graphic-partner img {
  width: 100%;
  height: auto;
}

.microsoft-page .empower {
  background-image: url("/../../images/microsoft-images/banner-empower.jpg");
}

.microsoft-page .empower h2 {
  font-size: 45px;
  line-height: 49px;
}

.microsoft-page .reimagine-box h2 {
  color: #0078d4;
  font-weight: 600;
  font-size: 45px;
  line-height: 49px;
}

.microsoft-page .invest {
  background-image: url("/../../images/microsoft-images/banner-invest.jpg");
}

.microsoft-page .full-graphic .row,
.microsoft-page .full-graphic-partner .row {
  padding-top: 80px;
  padding-bottom: 80px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.microsoft-page .full-graphic .row .col-6 {
  flex-direction: column;
}

.microsoft-page .value-stamp {
  display: inline-block;
  padding: 8px 15px;
  color: white;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.microsoft-page .best-value {
  background-color: #0078d4;
}

.microsoft-page .office-icons {
  display: flex;
  padding-bottom: 20px;
}

.microsoft-page .office-icons-top-border {
  border-top: 1px solid #cbcbcb;
  padding-top: 30px;
  margin-top: 30px;
}

.microsoft-page .office-icons-bottom-border {
  margin-bottom: 40px;
}

.microsoft-page .office-icons-padd hr {
  border: none;
}

.microsoft-page .office-icons-group img {
  width: 100%;
}

.microsoft-page .office-icons-group {
  flex-direction: column;
  box-sizing: border-box;
  padding-right: 30px;
  max-width: 235px;
}

.microsoft-page .office-icons-padd {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.microsoft-page .office-icons-padd h2 br {
  display: none;
}

.microsoft-page .footnote {
  text-align: left;
}

.microsoft-page .footnote br {
  display: block;
}

@media (max-width:1730px) {
  .microsoft-page .hero {
    background-position: 50% 50%;
    background-size: cover;
  }
}

@media (max-width:1120px) {
  .microsoft-page .col-md-6 {
    width: 50%;
  }

  .microsoft-page .empower h2 {
    font-size: 28px;
    line-height: 35px;
  }

  .microsoft-page .hero {
    background-position: 9% 50%;
  }
}


@media (max-width:767px) {
  .microsoft-page .hero {
    height: auto;
    background: url("/../../images/microsoft-images/hero-mobile.jpg") no-repeat 100%;
    background-size: cover;
    margin-bottom: 0;
  }

  .microsoft-page .hero .text-left img {
    width: 120px;
  }

  .microsoft-page .hero .text-right img {
    width: 130px;
  }

  .microsoft-page .hero .content {
    display: block;
    padding-top: 50px;
    padding-bottom: 190px;
  }

  .microsoft-page .side-by-side .row {
    flex-wrap: wrap;
  }

  .microsoft-page .office-icons-padd h2 br {
    display: block;
  }

  .microsoft-page .office-icons-padd h3 {
    font-size: 16px;
    line-height: 20px;
  }

  .microsoft-page .office-icons-group,
  .microsoft-page .office-icons {
    max-width: 100%;
  }

  .microsoft-page .col-md-12 {
    width: 100%;
  }

  .microsoft-page .font-size-14-2 {
    padding-top: 15px;
    margin: 0;
  }

  .microsoft-page .play {
    height: 600px;
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
  }

  .microsoft-page .side-by-side-padd {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
  }

  .microsoft-page .empower {
    background: url("/../../images/microsoft-images/banner-empower-mobile.png") no-repeat;
    background-position: 100%;
    background-size: cover;
    box-sizing: border-box;
  }

  .microsoft-page .empower h2 br {
    display: none;
  }

  .microsoft-page .partner {
    background-image: url("/../../images/microsoft-images/partner-image.jpg");
    background-position: 50% 50%;
    background-size: cover;
    box-sizing: border-box;
  }

  .microsoft-page .partner .flex-row {
    display: flex;
    flex-direction: column-reverse;
  }

  .microsoft-page .partner .row .col-6:nth-child(2) {
    padding: 0; 
  }

  .microsoft-page .invest {
    background-image: url("/../../images/microsoft-images/banner-invest-mobile.png");
    background-position: 50% 50%;
    background-size: cover;
    box-sizing: border-box;
  }

  .microsoft-page .full-graphic .row {
    height: auto;
    display: block;
    padding-top: 80px !important;
    padding-bottom: 400px !important;
  }

  .microsoft-page .full-graphic-partner .row {
    padding-bottom: 0;
  }

  .microsoft-page .full-graphic-partner .row {
    padding-top: 0px;
  }

  .microsoft-page .full-graphic-partner h2 {
    padding-top: 27px;
  }

  .microsoft-page .center-box p {
    max-width: 820px;
  }

  .microsoft-page .order-md-1 {
    order: 1;
  }

  .microsoft-page .order-md-2 {
    order: 2;
  }

  .microsoft-page .partner .row {
    flex-wrap: wrap;
  }

  .microsoft-page .outline-box {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .microsoft-page .side-by-side .row {
    flex-wrap: wrap;
    margin-bottom: 0px;
  }

  .microsoft-page .office-icons-group {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-top: 20px;
  }

  .microsoft-page .office-icons-padd hr {
    height: auto;
  }

  .microsoft-page .foot {
    background-color: #f6f6f6;
  }

  .microsoft-page .footnote br {
    display: none;
  }
}

@media (max-width:560px) {
  .microsoft-page h1 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 25px;
  }

  .microsoft-page h2,
  .microsoft-page .side-by-side-padd h2 {
    font-size: 28px;
    line-height: 35px;
  }

  .microsoft-page h3 {
    font-size: 14px;
    line-height: 20px;
  }

  .microsoft-page p {
    font-size: 14px;
    line-height: 20px;
  }

  .microsoft-page .col-sm-12 {
    width: 100%;
  }

  .microsoft-page .play {
    height: 410px;
  }

  .microsoft-page .percentage {
    font-size: 48px;
  }

  .microsoft-page .facts p {
    margin: 12px 0 0 0 !important;
  }

  .microsoft-page .office-icons {
    display: block;
  }

  .microsoft-page .cta {
    padding: 0 20px;
    line-height: 37px;
    padding-bottom: 2px;
    font-size: 14px;
    margin-top: 15px;
  }

  .microsoft-page .bar-divider {
    max-width: 140px;
    margin-bottom: 20px;
  }

  .microsoft-page .outline-box h2,
  .microsoft-page .reimagine-box h2 {
    font-size: 28px;
    line-height: 33px;
  }
}

@media (min-width:768px) {

  .microsoft-page .hero h1,
  .microsoft-page .hero p {
    max-width: none;
  }

  .microsoft-page .center-box {
    padding: 0 70px;
    margin: 0 0 80px 0;
  }

  .microsoft-page .outline-box {
    margin-top: 0;
    padding: 70px;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffff;
  }

  .microsoft-page .outline-box-white {
    margin-top: 0;
    padding: 70px;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffff;
    border: 1px solid #cbcbcb;
  }

  .microsoft-page .outline .side-by-side .row {
    max-width: 1120px;
    align-items: stretch;
    box-shadow: 8px 15px 25px 0 rgb(0 1 1 / 8%);
  }

  .microsoft-page .outline-box-white,
  .microsoft-page .side-by-side-padd {
    box-shadow: 8px 15px 25px 0 rgb(0 1 1 / 8%);
  }
}

