
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;  
    color: var(--body_color); 
    background-color: var(--body_bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}  
/*NO MARGIN*/
body, .no-margin, .row, input[type="checkbox"], input[type="radio"], ul, h1, h2, h3, h4, h5, h6,
.product-timer, input.JScart-amount, input.cart-amount, .vezani_artikli .linked-articles-input,
.JScookies-part .nav > li > a
{
    margin: 0; 
}
/***************************************/
/*NO PADDING*/
body, .no-padding, .currency-list, .login-dropdown, ul, .JSsticky_header .logo,  
input.JScart-amount, input.cart-amount
{
    padding: 0;
} 
/***************************************/
/*TEXT CENTER*/
.JSsubcat-toggle,
.shop-product-card-list .ribbon-sale span, .JSscroll-top, .zoomWrapper, 
input.JScart-amount, input.cart-amount, .user-orders-table th, .user-orders-table td, .bootbox p, .vezani_artikli .linked-articles-input,
.admin-article, .article-edit-btn, .like-it, .printer a i, .landing-p .section-title
{
    text-align: center;
}
/***************************************/
/*RELATIVE*/
.relative, .section-title, .JSlevel-2 li, .JSlevel-2 li a, .JSlevel-1 > li > a,
.zoomWrapper, .files-list-item, .main-menu li, .JSproducts_slick,
.JScart_num:before, .JScart_num:after, .JScart_num
{
    position: relative;
}
/***************************************/
/*INLINE BLOCK*/
.inline-block, .capcha input[type="text"],  .selected-filters li, 
.buy-btn, .not-available, .generic_car ul li, .generic_car_list ul li,
.product-tags a,  .footer-links li a, #JScompareTable .JSclearCompare,
.article-level-edit-btn, .files-list-item, .features-list li,  
.mini-cart-sum i, .sum-label, .sum-amount, .like-it, .printer a i,
.landing-p .shop-product-card .hardcoded-label span
{
    display: inline-block;
}
/***************************************/
/*COLOR WHITE*/
.shop-product-card-list .ribbon-sale span,
footer, .footer-links li a, .show-compered-active:hover, .show-compered-active:focus,
.show-compered:focus, .show-compered:hover, #JScompareTable .JSclearCompare, .bootbox .modal-dialog .btn:nth-child(1),
.text-white, .show-compered, .show-compered-active, .landing-p, 
.landing-p .shop-product-card .product-meta *
{
    color: #fff;
}
/***************************************/
/*BOLD*/
.text-bold, .compare-table tr td:first-child, 
.comment-name, .without-btn, .article-level-edit-btn,
.files-list-item, .brend-item, .article-edit-btn, .success, 
.PDV, .descr-title, .icon-txt > a, .icon-txt > span, 
.sum, .main-menu li a, .JScategories h4, .section-title, .ft-section-title,
.breadcrumb, .info-article > span:nth-of-type(2),
.landing-p .text-section-title, .JSmain-slider .main-desc, .landing-p .txt-ban-text h2
{
    font-weight: 600;
}
/***************************************/
/*FONT 500*/
label, .landing-p .shop-product-card .hardcoded-label span, .information-article-text
{
    font-weight: 500;
}
/***************************************/

/*OUTLINE NONE*/
.btn.focus, .btn:focus, .btn:hover, .JSproducts_slick > *:focus,
a:link, a:visited, a:active, button:focus, .btn-slider, input:focus, select:focus, textarea:focus
{ 
    outline: none; 
}
/***************************************/
/*LINE HEIGHT 1*/
.line-h, img, .facebook-btn-share, .first-popup .close-popup,  
.price-holder, .generic_car ul, .generic_car_list ul, .additional_info_article
{
    line-height: 1;
}
/***************************************/
/*TEXT UPPERCASE*/
.h2-container, .shop-product-card-list .ribbon-sale span, .ft-section-title, .compare-table tr td:first-child, .without-btn,
.global-currency,.main-menu > li > a, .JScategories h4, .filter-links
{
    text-transform: uppercase;
}
/***************************************/
/*FONT SIZE 85%*/
img, .breadcrumb li, .selected-filters li, .related-custom .title,
.compare-table tr td:first-child, .files-list-item, .review, .comment-rating, .sub-group a
{
    font-size: 85%;
}
/***************************************/
/*DISPLAY BLOCK*/
.section-title, .filter-price, .main-menu .drop-2 li a, /* .main-menu > li:hover .drop-2,*/
.search_list__item__link, 
.manufacturer-categories a,  
.product-price, .shop-product-card-list .ribbon-sale span,  
.comment-content, .comment-content span,.JSwithout-reg-none-personal.active, .JSwithout-reg-personal.active,
.category-name-link, .category__list, .category__list__item__link, .category-sidebar__list__item__link, .admin-article .supplier,
.JSlevel-1 a, .main-menu li a, .delivery-info
{
    display: block;
}
/***************************************/
/*DISPLAY NONE*/
.JShidden-msg, .slick-dots li, .JSlevel-2, .JSlevel-4,
.JSwithout-reg-none-personal, .JSwithout-reg-personal, .JShidden-if-no-filters, .dropdown-backdrop, 
.cookies_tabs, .JSlevel-1, .drop-2, .shop-product-card .short_desc_grid, .shop-product-card .hardcoded-label
{
    display: none;
}
/***************************************/
/*DISPLAY FLEX*/
.flex, .cart-item li, .inline-flex
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
}
.inline-flex {
    display: inline-flex;
    display: -webkit-inline-flex;
}
.justify-center {
    justify-content: center;
    -webkit-justify-content: center;
}
.justify-between {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
/***************************************/
/*VERTICAL ALIGN MIDDLE*/
.v-align, a.elevatezoom-gallery, a.JScart-less-gram, a.JScart-more-gram, .generated-features-list > li:nth-child(1), 
.generated-features-list > li:nth-child(2), .generated-features-list > li ul li,
.button, .like-it, .printer a i, input.cart-amount
{
    vertical-align: middle;
}
/***************************************/
/*MARGIN AUTO*/
.first-popup .first-popup-inner, .margin-auto, .zoomWrapper img,
a.elevatezoom-gallery img, .cart-item li > *, .slick-slider img,
.gallery_slider img, .modal-cont img, .JSmain_img
{
    margin: auto;
}
/***************************************/
/*OVERFLOW HIDDEN*/
.sub-group a, .overflow-hdn,
.JSmain-slider, .related-custom .title, .shop-product-card .product-name,
.product-image-wrapper, .generic_car ul, .generic_car_list ul, .shop-product-card-list .ribbon-sale,
a.elevatezoom-gallery, .additional_img a, .brend-item, .price-holder, 
.JSproducts_slick .slick-list, .gallery_slider a, .main_imgGallery, .map-frame,
.landing-p .short_desc_grid, .small-icon-column > div > div, .small-icons-section a, 
.small-icons-section .short-desc, .JSmain-slider .sliderText > *
{
    overflow: hidden;
}
/***************************************/
/*MAX WIDTH 100%*/
.first-popup-inner img, .max-width
{
    max-width: 100%;
}
/***************************************/
/*CURSOR POINTER*/
.button, .pagination .disabled a:hover, .pagination .disabled a, .first-popup .close-popup, .JSsubcat-toggle, .printer a i,
#JScompareTable .JSclearCompare, .zoomLens, a.elevatezoom-gallery, .without-btn, .JSmain_img, .JSclose-modal:hover,
.JScookiesInfo_btn
{
    cursor: pointer;
}
/***************************************/
.seo {  
    position: absolute;
    top: -999px;
    left: -999px;
}
img {
    color: #bbb;  
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}
.JSleft-body-link, .JSright-body-link { 
    position: absolute;
    left: 0; 
    z-index: 1;
}
.JSright-body-link {  
    left: unset;
    right: 0;
}
/**********/
.global-currency:not(.landing-p .global-currency){
    font-size: 70%;
}
/*===================*/

.mailto { word-break: break-word; }
 
/*===================*/
.capcha {
    border: 1px solid #ddd; 
    padding: 10px 0;
    margin: 10px 0; 
}
.capcha input[type="text"]{
    width: auto; 
    margin: 0 5px;
} 
/*====================*/ 
.currency-btn{
    background-color: var(--currency_bg);
    color: var(--currency_color);
    border: 1px solid #ccc;
    padding: 2px 8px;
    margin: 5px;
}

.currency-list li { border-bottom: 1px solid #ddd; }

.currency-list, .login-dropdown { min-width: 100%; z-index: 2; }

/*.logged-dropdown-user { 
    min-width: 165px;
    z-index: 2;
    padding: 15px;
}*/

/*.logged-dropdown-user > div { margin-top: 10px; }*/

/*.login-dropdown li a, .logged-dropdown-user li a { padding: 5px 15px; }*/

[class*="col-"]{ min-height: 0; }

/***********/

.pagination { margin: 10px 0 5px; }

.pagination li a {
    padding: 5px 10px;
    background-color: var(--pagination_bg);
    border: none;
}
.pagination>.active>a, .pagination>.active>a:hover{
    background: var(--pagination_bg_active);
    color: var(--pagination_color_active);
    font-weight: 600;
    border-bottom: 1px solid;
    border-radius: 0 !important;
    z-index: 0;
} 
/***********/

.soc-network { margin: 0 2px; } 

.soc-network:nth-of-type(1) { margin-top: 5px; }

.nav>li>a:focus, .nav>li>a:hover{ background-color: transparent; }

a:link, a:visited, a:active { text-decoration: none; color: inherit; }
a:hover{ color: var(--global_color); transition: all 0.1s ease 0s; -webkit-transition: all 0.1s ease 0s; }
ul { list-style-type: none; }
/* h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', Arial, sans-serif;  } */
h1 { font-size: 1.8em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

.full-height {
    height: 100%;
}
.z-index-1 {
    z-index: 1;
}
/***********/

.section-title:not(.landing-p .section-title) {  
    margin: 0 0 10px;
    font-size: 19px;
    padding: 6px 0;
    color: var(--h2_color);
}
.section-title:not(.landing-p .section-title):after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 80px;
    background-color: var(--global_color);
}
/***********/ 

#launch_btn {
    background: #000;
    margin: 5px 0 10px;
}
#launch_btn:hover {
    opacity: .7;
}
/***********/ 
 
.breadcrumb { background-color: var(--breadcrumb_bg); margin: 5px 15px; }
 
 input[type="text"], input[type="password"], select, textarea {
    width: 100%;
    margin: 3px 0;
    color: #999;
    padding: 5px 10px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 0;
    background-color: var(--input_bg_color);
}
textarea { resize: none; height: auto; }

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('/images/select_arrow.png');
    background-size: 6px;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
}
.custom-select-arrow select {
    background-image: none;
}
label { 
    color: var(--label_color); 
    margin: 5px 0 0;
}

/*BUTTON*/
button {
    border: none;
    background: none;
}
.button {
    padding: 6px 15px;
    margin: 5px 0;  
    background-color: var(--btn_bg); 
    border-radius: 5px;
    transition: .3s easy;
    -webkit-transition: .3s easy;
}
.button, a.button { color: var(--btn_color); }

/*========================*/ 
.first-popup {
    position: fixed;
    top: -1000px; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex; 
}
.first-popup .first-popup-inner {  border: 1px solid #ddd; max-width: 88%; }
.first-popup .close-popup {
    color: #f2f2f2;
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 5;
    font-size: 30px; 
    padding: 0 5px;
    text-shadow: 0 0 3px #000; 
}
.first-popup .close-popup:hover {
    opacity: .8;
    text-shadow: 0 0 10px #000;
}
.first-popup-inner img { 
    max-height: 500px;
    padding: 2px;
} 
/*======================*/

.JSproducts_slick .slick-prev, .JSproducts_slick .slick-next,
.JSblog-slick .slick-prev, .JSblog-slick .slick-next {  
    position: absolute;
    top: -40px;
    right: 5px;
    z-index: 2; 
    margin: 0;
    width: 25px;
    height: 25px; 
    background: transparent;
    font-size: 0;
}
.JSproducts_slick .slick-prev, .JSblog-slick .slick-prev {
    left: unset; 
    right: 35px;
}
.JSproducts_slick .slick-next:before, .JSproducts_slick .slick-prev:before, 
.JSblog-slick .slick-prev:before, .JSblog-slick .slick-next:before {
    content: '';
    border: 3px solid;
    border-color: var(--global_color) var(--global_color) transparent transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: inline-block;
    width: 11px;
    height: 11px;
}
.JSproducts_slick .slick-prev:before, .JSblog-slick .slick-prev:before {
    border-color: transparent transparent var(--global_color) var(--global_color);
    margin: 0 0 0 5px;
} 

.slick-slider {
    margin: 0 !important;
}
/*======================*/
/* filters */

.filters {
    padding: 15px 10px;
}

.filter-links {  
    padding: 8px 0 5px;
    background-color: var(--filters_bg);
    font-weight: 700;
    font-size: 95%;
}

.filters ul > li {
    border-bottom: 1px solid rgb(212 212 212 / 50%);
    margin-top: 10px;
    padding-bottom: 18px;
}

.filter-price { margin: 0 0 10px; }

#JSslider-range {
    max-width: 95%;
    margin: auto;
    height: 3px;
    border-color: var(--global_color);
}
#JSslider-range > div, #JSslider-range > span {
    background: var(--global_color);
}
#JSslider-range > span { 
    border-radius: 50px;
    width: 15px;
    height: 15px;
    top: -6px;
}
#JSslider-range > span:focus, #JSslider-range > span:focus-visible {
    outline: none;
}

.selected-filters li {  
    padding: 5px 10px;
    background-color: #f2f2f2;
    margin: 5px 0;
}
.filters label { 
    /*background: #f5f5f5;*/
    padding: 2px 8px; 
    flex-wrap: nowrap;
}
.filters label:hover{ box-shadow: 3px 0 0 inset; }

.filter-text{ margin: 0 5px; width: 100%; /*for flexbox*/ }

/* SLAJDER ZA CENU END */
a.JSreset-filters-button { 
    color: #e60000;
}
/****************************/
 
/*--- PREHEADER ---*/
.JStoggle-btn {
    margin: 5px;
    padding: 0 6px;
    border: 1px solid #fff;
    user-select: none;
}  
.top-menu a {
    color: var(--top_menu_color); 
}  
/**************/

.required-fields { font-size: 115%; padding: 0 15px;}
.required-fields span, .red-dot-error{ color: red; } 
/*.error { border: 1px solid red !important; }*/

/**************/ 

.padding-v-20 { padding-top: 20px; padding-bottom: 20px; }

.padding-v-15 { padding-top: 15px; padding-bottom: 15px; }

.p-left-0 { padding-left: 0; }

/*===============================*/
 
.drop-2 ul {
    margin-left:  20px;
}
/*===============================*/ 
.menu-background { background-color: var(--menu_bg); } 

#logout-button {
    padding: 0 5px;  
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.login-btn { 
    padding: 2px;
    color: var(--login_btn_color);
}
.preheader .mailto:hover{
   color: #fff;
} 

.main-menu li a, .categories-title { font-size: 14px; }

/*--- HEADER ---*/
header { background: var(--header_bg); }

.header-search select {
    text-overflow: ellipsis;
    white-space: nowrap; 
    border-radius: 0 30px 30px 0;
    height: 55px;
} 
/*.header-search span.select-wrapper::after, span.select-wrapper::after {
    content: " ";
    border-top: 0.4em solid #808080;
    border-right: 0.2em solid transparent;
    border-left: 0.2em solid transparent;
    position: absolute;
    top: 42%;
    right: 8px;
} */
.header-search input[type="text"] { 
    border-radius: 30px 0 0 30px; 
    height: 55px; 
    border-right: 0;
}
.JSselectTxt:after {
    content: " ";
    border-top: 6px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 55px;
}
.header-cart-container:hover .JSheader-cart-content { visibility: visible; opacity: 1; }

.JSheader-cart-content {
    background: #fff;
    position: absolute;
    width: 390px;
    right: 0;
    padding: 0 10px;
    box-shadow: 0 0 15px 0 rgba(0,0,0, .2);
    visibility: hidden;
    opacity: 0; 
    z-index: 10;
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    max-height: 550px;
    overflow: auto;
    top: 100%;
}
.mini-cart-item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.mini-cart-title {
    margin: 0 0 10px;
    max-width: 90%;
}
.remove-cart-item {
    color: #e60000 !important;
    position: absolute;
    top: 0;
    right: 5px;
}
.mini-cart-img { max-height: 55px; }
 
.mini-cart-sum li { 
    text-align: right;
    padding: 5px 7px;
    margin: 8px 0;
    background: #f2f2f2; 
}
.mini-cart-sum i {
    font-style: normal;
    min-width: 100px; 
}
 
/*======= STICKY HEADER ANIMATION ========*/
.JSsticky_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 60;
    animation: smooth_slide .3s;
    background: var(--header_bg);
    box-shadow: 0 1px 4px #a6a6a6;
}
@keyframes smooth_slide {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
} 
.JSsticky_header .logo img{ max-height: 45px; }
.JSsticky_header .header-cart{ margin: 12px 0; }

/*===== LOGO ==========*/
.logo img { max-height: 70px; }

/*- SEARCH -*/
.JSsearch-button2 {
    position: absolute;
    top: 8px;
    right: 6px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: var(--btn_color);
    background-color: var(--btn_bg);
}
/* Search sugestions */
ul.JSsearch_list {
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: 999;
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 10px #b3b3b3;
    max-height: 400px;
    overflow: auto; 
    font-size: 90%;
}
.JSsearch_list li:not(.search_list__title){ 
    margin: 0 0 5px;
    background: rgba(0,0,0,.02);
    padding: 4px 16px;
    line-height: 1.2;
} 
.search_list__item__link__cat { 
    color: #808080; 
    text-align: right; 
    display: block;
}
.search_list__title{
    font-weight: 600;
    padding: 3px 5px;
    background: rgba(0,0,0,.06);
    border-bottom: 1px solid rgba(0,0,0,.05);
}

/*- HEADER CART -*/
/*.header-cart { 
    font-size: 300px;
    color: var(--global_color) !important;
    background: yellow;
    display: block;
} */
.JScart_num {
   /* top: -10px;
    position: absolute;
    right: -11px;
    background: var(--cart_number_bg);*/
    color: #999;
    background: transparent !important;
    padding: 0px !important;
}
.JScart_num:before { content: '('; }

.JScart_num:after { content: ')'; }

.JSbroj_wish { 
    color: #fff;
} 
.header-icons {
    padding: 18px 0;
    font-size: 34px;
    color: var(--global_color);
}
.JSheader-cart-content .close:hover { opacity: .7; }

/***************/
.sub-group a {
    height: 70px;  
    margin: 3px;  
    padding: 0 10px;
    border: 1px solid #ddd; 
} 
.sub-group a:hover {
    border-color: var(--global_color);
}
.sub-group img {
    max-height: 55px;
    max-width: 50px; 
    padding: 5px 0;
    margin: 0 8px;
}
.sub-group span {
    max-width: 130px;
}   
.icon-txt {
    line-height: 1.2;
}
.icon-txt > p {
    color: #999;
    margin-bottom: 0;
    font-size: 12px;
}
.icon-txt > a, .icon-txt > span {
    color: #000;
    font-size: 16px;
}
/*============= Manufacturer =================*/
 
.manufacturer-categories h3 {
    font-size: inherit;
    margin: 5px 0;
    padding: 5px;
    font-weight: 100;
    border-bottom: 1px solid #ccc;
}
.manufacturer-categories a {
    margin: 3px 0;
    padding: 3px 6px;
    background-color: #f9f9f9;
}
/*==========================================*/

/*- CATEGORIES -*/ 
.lvl-1-img-cont, .lvl-2-img-cont { 
    width: 25px;
    height: 20px; 
    margin: 0 5px 0 0;
}
.lvl-1-img-cont img, .lvl-2-img-cont img {
    max-width: 100%;
    max-height: 25px;
    padding: 1px;
}
/*.lvl-2-img-cont {
    width: 50px; 
    height: 50px;
    line-height: 50px; 
}  
.lvl-2-img-cont img { 
    max-height: 45px;
    max-width: 100%;
} */
/******************/
#responsive-nav .JSlevel-1 a {
    padding-right: 30px;
}
.JSlevel-1 > li > a, .JSlevel-3 li a, .drop-2 li a { font-size: 90%; }

.JSlevel-1 > li > a, .JSlevel-3 li a { padding: 10px 12px; } 

.JSlevel-1 > li > a { line-height: 20px; } 

.JSlevel-2 li a { color: var(--level_2_color); } 

.JSlevel-2 .clearfix > li > a  {
    font-size: 110%;
    padding: 10px 12px 10px 0;
}
.JSlevel-2 .clearfix > li > a:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    background: #000;
    width: 100%;
    height: 2px;
}
.JSlevel-3 li a:before { 
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #000;
    height: 2px;
    width: 5px;
}  

/******************/
 
.categories-title {
    background: var(--categories_title_bg);     
    letter-spacing: .5px;
} 
 .JSlevel-3 ul {
    margin-left:  15px;
} 
.JSlevel-1 > li:hover { background: var(--gray); }

/******************/

.JSsubcat-toggle { 
    position: absolute;
    right: 5px;
    top: 10px;
    width: 22px;
    height: 25px;
    line-height: 25px;
    background: transparent;
    font-size: 11px;
}
.JSsubcat-toggle.rotate, .JSfilter-rotate {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
   /* color: #fff;*/
} 

/*- MAIN CONTENT -*/
.d-content { 
    min-height: 500px;  
}
.d-content:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
}
.d-content img {
    height: auto;
}
/*- MAIN SLIDER -*/
/*#start-page .JSmain-slider {
    max-height: 460px;    
} */

#start-page .JSmain-slider { margin-bottom: 10px; }

#start-page .padding-slider { padding-bottom: 15px; }

.JSmain-slider img { width: 100%; }  

.JSmain-slider .slick-next { right: 0; }
.JSmain-slider .slick-prev { left: 0; }
.JSmain-slider .slick-next, .JSmain-slider .slick-prev {
    height: 40px;
    width: 40px;
    margin: -20px 10px 0;
    background-color: rgba(0,0,0,.4);
    border-radius: 50px;
}
.JSmain-slider .slick-prev:before, .JSmain-slider .slick-next:before{
    content: '';
    border: 3px solid;
    border-color: #fff #fff transparent transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    opacity: 1;
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 0 5px 0 0;
} 
.JSmain-slider .slick-prev:before {
    border-color: transparent transparent #fff #fff;
    margin: 0 0 0 5px;
}
.JSmain-slider .slick-prev:hover, .JSmain-slider .slick-next:hover,
.JSmain-slider .slick-prev:focus, .JSmain-slider .slick-next:focus { background-color: rgba(0,0,0,.8); }

.JSmain-slider .sliderText > *, .txt-ban-text > * {
    margin-bottom: 20px;
}
.JSmain-slider p, .txt-ban-text p, .small-icons-section .short-desc p,
.d-content .btn-slider-txt { 
    margin-bottom: 0; 
}
.sliderText {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
}
.JSmain-slider .sliderText:not(.landing-p .sliderText) { 
    max-width: 80%; 
    left: 10%;
}
.JSmain-slider .sliderText:not(.landing-p .sliderText) .main-desc { font-size: 170%; }

.JSmain-slider .main-desc {
    max-height: 130px;
}
.JSmain-slider .short-desc {
    max-height: 120px;
}
/*BANNERS */
/*.banners a {  
    padding: 0 3px 0 0; 
    margin: 10px 0;
}  */

.banners a { 
    padding-bottom: 10px;  
    max-height: 240px;
}
.banners img {
    max-height: 230px;
}
.banners img:hover, .txt_banner:hover, .gallery-ban div:hover { opacity: .7; }

/*****TXT BAN********/

.txt_banner .bg-img { border-radius: 15px; }

.d-content .btn-slider-txt, .go-to-product-type  {
    border: 1px solid #fff;
    padding: 8px 20px;
    border-radius: 5px;
    background: transparent;
}

.go-to-product-type { margin-top: 10px; }

.banners .sliderText {
    left: 15px;
    width: calc(100% - 30px);   
    pointer-events: none;
}

.txt-ban-text h2 { line-height: 1.3; }

.small-txt-ban { 
    background: #052441; 
    border-radius: 15px; 
    margin: 0 15px;
}

.small-txt-ban .bg-img { 
    padding-top: 65%; 
    border-radius: 0 15px 15px 0;
}
.small-txt-ban .txt-ban-text { padding: 20px; }

.small-txt-ban .btn-slider-txt {
    border: 0;
    padding: 0;
    margin-bottom: 0;
}
/*****SMALL ICONS********/

.small-icons-section a, .small-icon-column > div > div {
    height: 85px;
    margin: 5px 0;
}
.small-icons-section img, .small-icon-column img { 
    max-height: 85px; 
}
.small-icons-section .short-desc {
    height: 40px;
}
/**************/
.gallery-ban {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(9, auto); 
    grid-template-rows: repeat(4, 1fr);
}
.gallery-ban .bg-img { padding-top: 45%; }

/*.gallery-ban .bg-img:nth-child(4) {
    grid-column: 6 / 4;
    grid-row: 3 / 5;
} 
.gallery-ban .bg-img:nth-child(5) {
    grid-column: 9 / 6;
    grid-row: 3 / 5;
}*/
.gallery-title {
    position: absolute;
    bottom: 30px;
    left: 15px;
    width: calc(100% - 30px);
    font-size: 180%;
}
/**************/

.gallery_slider {
    display: grid;
    grid-gap: 10px;
}
.gallery_slider a {
    border: 1px solid transparent;
    padding: 5px;
}
.gallery_slider .JSimg-gallery { 
   transition: .2s ease-in-out; 
    -webkit-transition: .2s ease-in-out; 
}
.gallery_slider .galery_Active, .gallery_slider .JSimg-gallery:hover {
   transform: scale(1.05);
   border: 1px solid var(--global_color);
}

/*--- GALLERY SLIDER ---*/ 
.JSmain_img {  
  transition: 0.3s;
  padding: 5px;
}
.JSmain_img:hover { opacity: 0.7; }
 
.JSmodal {
    display: none;
    position: fixed;
    z-index: 61;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.full-screen {
    height: 100%;
}
.modal-cont {
    margin: auto;
    display: block;
    max-width: 100vw;
    width: 90%;
    /*max-height: 90%;*/
    overflow: hidden; 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}  
/****************/
.modal-cont .btn {
    border: 1px solid rgba(255,255,255, .2);
    position: absolute;
    top: 50%;
    left: 1px;
    z-index: 1;
    padding: 0;
    width: 30px;
    height: 50px;
    color: #fff;
    margin-top: -25px;
    display: none;
    background: rgba(0,0,0, .8);
} 
.modal-cont .JSright_btn {
    left: unset;
    right: 1px;
}
/****************/
.modal-cont img {
    max-height: 95vh;
    background: #fff;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}  
.JSclose-modal {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 10px;
    color: #fff;
    font-size: 25px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    text-shadow: 0 0 2px #000;
}
.JSclose-modal:hover {
    opacity: .7; 
}
/****************/
.slider-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/*******ADD CSS FOR LANDING PAGE**************/

.landing-header {
    background: #000;
}
.landing-header .logo { padding: 10px 0; }

.landing-header .logo img { max-height: 50px; }

.landing-p .section-title {
    margin: 0 0 10px;
    font-size: 25px;
    padding: 6px 0;
}
.landing-p .JSmain-slider .sliderText {
    max-width: 36%;
    margin: 0 40px;
}
.landing-p .JSmain-slider .main-desc { line-height: 1.2; }

.all-products-type { padding-top: 0; }

.landing-p .shop-product-card, 
.landing-p .shop-product-card .product-meta  {
    border-radius: 15px;
    background: #052441;
}
.landing-p .shop-product-card .product-meta {
    border-radius: 0 0 15px 15px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding: 17px 15px;
}
.landing-p .product-image-wrapper {
    background: #fff;
    border-radius: 15px 15px 0 0;
}
.landing-p .shop-product-card .product-review-wrapp,
.landing-p .add-to-cart-container, 
.landing-p .all-products-type .section-title {
    display: none;
}
.landing-p .shop-product-card .short_desc_grid,
.landing-p .shop-product-card .hardcoded-label { 
    display: block; 
}
.landing-p .shop-product-card .hardcoded-label span {
    order: 1;
    background: #ffb01f;
    color: #000;
    padding: 5px 7px;
    font-size: 13px;
}
.landing-p .shop-product-card .product-name { 
    order: 2; 
}
.landing-p .shop-product-card .product-name, 
.landing-p .shop-product-card .price-holder {
    margin-bottom: 5px;
}
.landing-p .shop-product-card .price-holder { order: 3; }

.landing-p .short_desc_grid { order: 4; }

.landing-p .landing-buy-btn { order: 5; }

.short_desc_grid ul { 
    list-style-type: inherit;
    margin-left: 18px;
}
.landing-p .short_desc_grid {
    height: 145px;
    font-size: 13px;
}

/*FROM T-MCE TEXT SECTION*/

.bg-small-icon  {
    background: #052441;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.bg-small-icon  h4 {
    padding: 5px 10px 25px;
    font-size: 20px;
}
.icons-wrapper h3 {
    margin-bottom: 15px;
    font-size: 36px;
}

/************************/

.related-custom .slick-prev, .related-custom .slick-next{
    display: none !important;
}
.related-custom .card{ 
    padding: 15px 0;
}
.related-custom .img-wrap img{
    max-height: 50px;
}
.related-custom .title{ 
    white-space: nowrap;
    text-overflow: ellipsis; 
}
.related-custom .price{
    font-size: 16px;
}
/*- PRODUCT */
.product-timer{
    position: absolute;
    width: 100%;
    background: #fff;
    bottom: 0;
    left: 0; 
    table-layout: fixed;
}
/*==================*/

/* POLLS */
.polls {
    max-width: 600px;
    margin: auto;
    background: rgba(0,0,0, .03);
    padding: 5px 15px;
}
.poll {
    box-shadow: 0 0 8px rgba(0,0,0, .1);
    background: #fff;
    padding: 15px;
    margin: 15px 0;
}
.poll .question {
    font-size: 105%;
    margin: 0 0 5px;
}
.poll input { cursor: pointer; }

.poll .answer {
    padding: 2px 0;
} 
.poll .answer:hover {
    background: rgba(0,0,0, .03);
}
.polls .btn {
    background: rgba(0, 0, 0, .05);
    width: 100%;
    max-width: 115px;
}
.polls .btn:hover {
    background: rgba(0, 0, 0, .09);
}

/*==================*/

.shop-product-card { 
    background: var(--product_bg); 
    transition: 0.2s all;
    -webkit-transition: 0.2s all; 
     margin: 15px 3%;
}

.sale-label { 
    background: var(--sale_action_price_bg);
    position: absolute;
    left: 0;
    top: 0; 
    z-index: 2;
    font-size: 90%;
    letter-spacing: 1px;
}
.sale-label div { 
    padding: 5px 10px;  
}
.sale-label div:nth-child(1) { background-color: var(--sale_action_bg); }

.sale-label,.sale-label div:nth-child(1) { border-radius: 3px; } 
/*==========*/

.shop-product-card .product-meta{ padding: 0 5px 10px; background-color: var(--product_bottom_bg); }

.not-available, .buy-btn { 
    padding: 10px;  
    border-radius: 0 15px 15px 0;
} 
.add-to-cart-area .not-available { border-radius: 15px; }

.no-radius { border-radius: 0; }

.JSukloni, button.JSukloni:hover {
    margin: 0;
    padding: 0;
    background: #fff;
}
.like-it, .printer a i, .JSukloni { 
    width: 40px;
    height: 40px;
    line-height: 40px;
    /*transition: 0.3s all;
    -webkit-transition: 0.3s all;*/
    -webkit-box-shadow: 0px 0px 0px 1px #ddd inset, 0px 0px 0px 6px transparent;
    box-shadow: 0px 0px 0px 1px #ddd inset, 0px 0px 0px 6px transparent;
    color: #666;
    border-radius: 15px 0 0 15px;
}
.like-it.JScompare {
    border-radius: 0 15px 15px 0;
}
.like-it:hover, .like-it.active, .printer a i:hover, .JSukloni:hover {   
    -webkit-box-shadow: 0px 0px 0px 1px var(--global_color) inset, 0px 0px 0px 0px var(--global_color);
    box-shadow: 0px 0px 0px 1px var(--global_color) inset, 0px 0px 0px 0px var(--global_color);
    color: var(--global_color);
}

.add-to-cart-container {  
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}
.shop-product-card-list .add-to-cart-container {
    justify-content: end;
    -webkit-justify-content: end;
}
/******************/ 
.num-rates{
    margin: 5px 0 10px;
}
.num-rates .lorem-1{
    font-size: 90%;
    color: #666;
    margin: 0 30px 0 0;
}
.num-rates  .select-wrapper{
    min-width: 130px;
    display: inline-block;
}
/******************/ 
 
.product-name { 
    font-size: 14px;
    color: var(--product_title_color); 
    margin: 8px 0;
} 
.price-holder{ 
    font-size: 140%;
    color: var(--product_price_color);
} 
.product-old-price {
    text-decoration: line-through;
    color: var(--product_old_price_color); 
    font-size: 75%;
}
.shop-product-card:hover{
    -webkit-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    /*-webkit-transform: translateY(-4px); 
    transform: translateY(-4px);*/
}

.product-image-wrapper{
    height: 225px;  
} 
.shop-product-card .product-image { max-height: 215px; padding: 0 5px; }

/*.article-details{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
    opacity: 0; 
    visibility: hidden; 
    z-index: 5;  
    background-color: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0, .5);
    padding: 10px 5px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    backface-visibility: hidden;
    -webkit-backface-visibility: visible;
}

.shop-product-card:hover .article-details{ opacity: 1;  visibility: visible;  }*/
 
.button:hover, .JSsearch-button2:hover, .buy-btn:hover { 
    background-color: var(--add_to_cart_btn_bg_hover);
    color: #666;
}
/*========================*/
.generic_car ul, .generic_car_list ul {
    font-size: 85%; 
    color: #333;
    height: 55px; 
}
.generic_car_list ul{
    height: auto;
}
.generic_car ul li, .generic_car_list ul li{
    width: 49%;
    padding: 0px 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} 
 
/*=========== PRODUCT ON LIST ==================*/
.shop-product-card-list {
    margin: 5px 10px;
    box-shadow: 1px 1px 10px #ddd;
    background-color: var(--product_bg);
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
}

.shop-product-card-list:hover { box-shadow: 0 0 15px #ccc; }

.shop-product-card-list .product-image-wrapper { height: 140px; }

.shop-product-card-list .product-image {
    max-width: 90%;
    max-height: 140px; 
    padding: 5px 0; 
}
.shop-product-card-list .product-name { margin: 10px 0; }

.shop-product-card-list .ribbon-sale {
    position: absolute;
    left: -5px; 
    top: -5px;
    z-index: 1; 
    width: 75px; height: 75px;
}
.shop-product-card-list .ribbon-sale span {
    font-size: 13px;  
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px; 
    background: var(--global_color);
    box-shadow: 1px 1px 5px #bbb;
    position: absolute;
    top: 19px;
    left: -21px;
}
.shop-product-card-list .ribbon-sale span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid var(--global_color);
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--global_color);
}
.shop-product-card-list .ribbon-sale span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid var(--global_color);
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--global_color);
}

/* ========= TAGS ============== */
.product-tags {
    margin: 15px;
}
.product-tags a {  
    margin: 2px; 
    padding: 0px 5px; 
    background-color: #44aacb;
}
.product-tags div { border-bottom: 1px solid #ddd; }

/*===========================*/ 

.artical-brand-text {  
    margin: 5px 0 10px; 
} 
.article-brand-img img { max-height: 55px; padding: 5px 0; }

.product-sticker { 
    position: absolute; 
    top: 0; 
    left: 15px;
    width: calc(100% - 30px);
    z-index: 1;
}
.shop-product-card .product-sticker {
    top: unset;
    bottom: 0;
    left: 5px;
    width: calc(100% - 10px); 
}
.article-sticker-img { flex:1; }

.article-sticker-img img { max-height: 65px; padding: 3px; }

/*--- FOOTER ---*/
footer { 
    background-color: var(--footer_bg);
    padding: 50px 0 0; 
}
.footer-logo {
    margin: 10px 0; 
    max-height: 65px;
    filter: grayscale(.3);
}
.foot-custom-img {
    border: 2px solid #9a303a !important;
    background: #fff;
    height: 100%;
}
footer .foot-note { background: var(--gray); padding: 30px 15px 20px; }

.ft-section-title { min-height: 30px; margin: 5px 0; }
 
.second-foot-custom-row {
    align-items: unset;
    -webkit-align-items: unset;
}
.second-foot-custom-row > div:nth-of-type(1), .second-foot-custom-row > div:nth-of-type(3) { margin-top: 10px; margin-bottom: 10px; }

.newsletter-foot { align-items: unset; -webkit-align-items: unset; }

.newsletter-foot .newsletter { 
    align-self: end; 
    -webkit-align-self: end; 
    width: 100%; 
}

 /********/
}
.newsletter {
    margin: 5px 0;
   
}
.newsletter input{
     border-radius: 15px;
}
.newsletter input, .newsletter button{
    background: var(--global_var);
   
}
.newsletter .button {
    position: absolute;
    right: 0;
    top: 0; 
    height: 100%;
    padding: 0 10px;
    border-left: 1px solid #fff;
    border-radius: 0 15px 15px 0;
}
.newsletter input {
    padding-right: 85px;
    color: #ddd;
}
.newsletter input, .newsletter .button {
    margin: 0;
}
 /********/

footer li { margin: 5px 0; } 

.JSfooter-secs{
    margin: 0 0 15px;
}

/*============== LOGO BANKS ===========*/ 
.banks > ul:first-of-type li img {
    max-height: 30px;
}
.after-footer .banks > ul:last-of-type li img {
    max-height: 42px;
}
.after-footer .banks {
    padding: 5px 0;
}
.after-footer .banks img {
    max-width: 150px;
    margin: 5px 0; 
}
.after-footer .banks .list-inline { margin-left: 0; }

/*============== COOKIES ===========*/
.JScookies-part {
    position: fixed;
    left: 0;
    bottom: -500px;
    z-index: 999;
    width: 100%;
    background: rgba(255,255,255,.9);
    box-shadow: #737373 2px 7px 9px 2px;
    -webkit-box-shadow: #737373 2px 7px 9px 2px;
}
.JScookies-part .alert {
    max-width: 640px;
    width: 100%;
}
.JScookies-part .tab-titles li {
    float: none;
    clear: both;
}
.JScookies-part .tab-content, .JScookies-part .nav-tabs  { border-color: transparent; }

.JScookies-part .nav-tabs { background: #f5f5f5; }

.cookies_tabs {
    border: 1px solid #f5f5f5;
    background: #fff;
}
.JScookies-part .tab-content {
    max-height: 115px;
    overflow-y: auto;
}
.JScookies-part .nav-tabs > li > a, .JScookies-part .nav-tabs > li.active > a { padding: 5px 15px; }  

.JScookies-part .nav-tabs, .JScookies-part .nav-tabs > li > a, .JScookies-part .nav-tabs > li.active > a { 
    border: none; 
    border-radius: 0; 
}
.JScookies-part .nav-tabs > li > a:hover { background: #fff; }

.JScookies-part h4 { padding-bottom: 5px; }

.JScookiesInfo_btn { text-decoration: underline; }

/*============== SOCIAL ICONS ===========*/
.preheader .social-icons {
    position: fixed;
    right: 0;
    top: 35%;
    transform: translateY(-35%);
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    z-index: 50;
}
.social-icons a {
    display: inline-block;
    font-size: 16px;
    width: 25px;
    height: 25px; 
    margin: 1px 0; 
    line-height: 25px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
}
.social-icons a:hover{ opacity: .7; } 
.social-icons .facebook { background-color: #3b5999; }
.social-icons .twitter { background-color: #55acee; }
.social-icons .google-plus { background-color: #dd4b39; }
.social-icons .skype { background-color: #00AFF0; border-radius: 50px; }
.social-icons .youtube { background-color: #b30000; }
.social-icons .linkedin { background-color: #007bb5; }
.social-icons .instagram { background-color: #C13584; }
footer .social-icons a { margin: 10px 5px; }

/*--- SCROLL TO TOP ---*/
.JSscroll-top {
    position: fixed;
    font-size: 18px;
    line-height: 18px; 
    color: #747474;
    right: -70px;
    bottom: 95px; 
    background: var(--scroll_top_bg);
    z-index: 20;
    padding: 10px 15px;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.JSscroll-top:hover { background: var(--btn_bg); color: var(--btn_color);  }

/* ======= NEWS ========= */
.news {
    padding: 10px;
    margin: 20px 0;
    background: #fff;
    box-shadow: 0 0 3px 5px rgba(0,0,0, .05);
}
.news:hover {
    box-shadow: 0 0 4px 6px rgba(0,0,0, .1);
}
.bg-img {
    padding-top: 80%;
    background: center/cover no-repeat;
}
.overlink {
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
}
.news-title {
    margin: 10px 0;
    font-size: 135%;  
    font-weight: 500; 
}
.news-desc {
    height: 43px;
}

iframe { max-width: 100%; }

.news iframe, .single-news iframe{
    width: 100%;
    height: auto;
}
.single-news iframe{
    height: 56.25vh;
} 
.single-news { padding: 30px 0; }

/***************************/
.ktlg-page .box{
    box-shadow: 0 0 5px #ddd;
    padding: 15px 0;
    margin: 10px 0;
}
.ktlg-page span{
    font-size: 16px;
    font-weight: 500;
    display: block;
}
/*- PRODUCT LIST OPTIONS -*/
.product-options { background-color: var(--product_list_bg); margin: 5px 0; }
.view-buttons span {
    width: 20px;
    height: 20px;
    color: var(--global_color); 
    font-size: 16px;
}
.view-buttons span.active { color: #000; }
.view-buttons{ margin: 0 10px; } 
.view-buttons span:hover { transform: scale(1.2); -webkit-transform: scale(1.2); } 

/*========= COMPARED ARTICLES ==============*/
.show-compered, .show-compered-active {
    background-color: #30323A;
    color: #fff;
}
.show-compered-active{
    animation: pulse 1.5s ease-in-out infinite;
} 
@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(248, 105, 74, 0.66); }
    70% { box-shadow: 1px 1px 5px 20px rgba(251, 174, 157, 0); }
    100% { box-shadow: 0 0 0 0 rgba(251, 174, 157, 0); }
} 
.show-compered:hover { background: #595959;  }

#JScompareTable .JSclearCompare { 
    background: #D13E3B; 
    padding: 2px 7px;
} 
.compare-table table{ width: 100%; }

.compare-table table td { 
    max-width: 275px;
}
.compare-table img{
    max-height: 75px;
    max-width: 100%;
} 
 
.article-heading {
    margin: 10px 0;
    font-size: 20px; 
    /*color: #747474;*/
    padding: 5px 0; 
} 
/*- PRODUCT PREVIEW IMAGE -*/
.zoomWrapper {
    width: 100% !important;
    height: 400px !important;
    line-height: 400px; 
    background: #fff;
    overflow: hidden !important; 
} 
.zoomWindowContainer { display: none !important; }

.zoomWrapper span { width: 100% !important; }
.zoomWrapper img {
    position: relative !important;
    height: auto !important;
    max-height: 100% !important;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
    width: auto !important; 
    padding: 10px 0;
}
a.elevatezoom-gallery { 
    width: 100%;
    height: 90px;
    display: inline-flex;
    display: -webkit-inline-flex;
    background: #fff;
    z-index: 1; 
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px; 
}
a.elevatezoom-gallery img {  
    max-height: 70px; 
    max-width: 100%;
}
.fancybox-overlay-fixed { background: rgba(0, 0, 0, .7); }
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../../../images/fancybox/fancybox_sprite.png') !important;
} 
.additional_img a { 
    border: 1px solid #dddd;
    max-width: 60px;
    width: 100%; 
    height: 50px;
}
.additional_img a:hover{
    border-color: var(--global_color);
}
.additional_img img{
    max-height: 45px; 
    padding: 5px;
    margin: 2px 0;
}
/* ======================= */ 

.product-preview-info .review { margin: 5px 0; }

.product-preview-info * { letter-spacing: .3px; }
  
.additional_info_article > * { 
    font-size: 13px; 
    padding: 5px 5px 5px 0;
    width: 33%;
}
.add-to-cart-area, .delivery-info { margin: 10px 0; }

.add-to-cart-area .like-it, .add-to-cart-area .printer a i {
    border-radius: 50%;
}
.info-article > span:nth-of-type(2), .information-article-text { 
    color: #686868;
}
.information-article-text {
    font-size: 12px;
    margin: 5px;
    line-height: 1.2;
}
 
/************/  
.attributes {
    margin: 0 0 10px;
} 
.attributes span {
    padding: 2px 8px;
    color: #fff;
    text-shadow: 1px 1px 1px #000; 
    border: 3px solid #ddd;
}
.attributes input { position: absolute; visibility: hidden; }

.attributes input:checked + span { border: 3px solid #000; }
 
 
/***********************/ 

.product-preview-price > div {
    margin: 10px 0;
}
.price-label {
    font-size: 115%;
}
.price-num {
    font-size: 130%;
}
.discount, .price-num {  
    color: var(--discount_price_color);  
}
.mp-price { 
    color: var(--article_product_price_color);  
}
.main-price {
    font-size: 190%;
}
/***********************/
 
/*- PRODUCT PREVIEW TABS */
.product-preview-tabs { margin-top: 20px; } 
.tab-content {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 10px 5px;
    min-height: 100px;
}
.tab-content table td { text-align: left; padding: 4px 5px !important; }
.tab-content table { width: 100%; }

/*===== COMMENTS ========= */
.comment-content { 
    margin-bottom: 5px;
    padding: 6px 10px;
    font-size: 13px;
    box-shadow: 0px 0px 10px #ddd; 
} 
.comment-date {
    font-size: 11px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.replies { margin: 0 0 0 20px; }
.replies .comment-content { color: #000; background: #e6e6e6; }

/* ============ INSIDE CART =============== */
.without-btn {
    background-color: #f5f5f5;
    color: #808080;
    margin: 15px 0px;   
    padding: 8px 0;
    border-radius: 5px;
}
.without-btn.active { background: var(--btn_bg); color: var(--btn_color); } 

.without-btn i { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; 
}
.without-btn.active i { -webkit-transform: scale(1); transform: scale(1); }

/*- CART ITEMS -*/
.cart-labels { border-bottom: 1px solid #e9e9e9; }

.cart-labels li {
    padding: 7px 8px;
    color: #747474; 
} 
.cart-item li {
    padding: 5px 3px;
    border-bottom: solid 1px #e9e9e9; 
    min-height: 85px;
} 
.cart-image { max-height: 70px;  }
   

a.JScart-less-gram, 
a.JScart-more-gram,
a.JScart-more,
a.JScart-less {     
    color: #999; 
} 
input.JScart-amount {
    width: 50px;
    height: 25px;
    padding: 0;
} 
input.cart-amount {
    width: 100%;
    max-width: 50px;
    height: 36px;
    position: relative;
    border-radius: 15px 0 0 15px;
    margin: 5px 0 5px 0;
} 
input.cart-amount[type=number]::-webkit-inner-spin-button,
input.cart-amount[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}
input.cart-amount[type=number]::-webkit-outer-spin-button, 
input.cart-amount[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    width: 45px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; 
}

 /*- BELOW CART -*/ 
 
.cart-summ > div { 
    padding: 5px 10px;
    border-left: solid 3px #666; 
    background: #f9f9f9;  
    border-bottom: 1px solid #ccc;
}  
.sum-label, .sum-amount {
    min-width: 45%;
}
.sum-amount { font-size: 140%; } 
   
.JSfree_delivery { color: #666; } 

.remove-item {
    color: #e60000 !important;
}
 
/*--- USER PAGE ---*/
 
.user-orders-table tr th {
    background-color: #f9f9f9;
    border-bottom: none !important;
}
/**********/
.modal-footer, .modal-header{ border: none; }

.bootbox p {    
    font-size: 120%;
    margin: 15px 0;
} 
 
.bootbox .close {
    position: absolute;
    top: 5px;
    right: 10px;
}
.bootbox .modal-dialog{ top: 30%; }

.bootbox .modal-dialog .btn { padding: 5px 30px; border: none; border-radius: 5px;}

.bootbox .modal-dialog .btn:nth-child(1){
    background-color: var(--btn_bg); 
}
.bootbox .modal-dialog .btn:nth-child(2){
    background-color: var(--gray);
    color: #666; 
}
.bootbox .modal-dialog .btn:hover{ box-shadow: 1px 1px 5px #666; }

/*--- CONTACT PAGE ---*/
 
.map-frame {
    margin: 10px 0;
    height: 330px; 
}
.map-info {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 225px;
    height: 54px;
    background: #fff;
    padding: 10px 0 10px 15px;
}
.map-info h5 {
    text-shadow: 0 0 0.1px;
    font-size: 14px;
    margin: 0 0 5px; 
    color: #000;
}
.map-info h6 { 
    color: #5B5B5B; 
    font-size: 12px;
}
.map-info h5, .map-info h6 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
footer .map-frame  {
    height: 200px; 
}

/*--------- AlL  CATEGORY PAGE -------------*/
.category-heading {
    margin: 15px 0 0;
    padding: 4px 10px;
    border-radius: 2px;
    color: #000;
    background-color: #f0f0f0;
}
.category-name-link {
    margin: 3px 0; 
    border-bottom: 1px solid #ddd;
} 
.category__list__item__link { line-height: 1.7; }
.category-name-link, .category-heading, .category__list__item__link { font-size: 1em; } 
/*--------- ALL  CATEGORY SIDEBAR ------------- */

.JScategory-sidebar__list { margin: 20px 0; background: #f0f0f0;  }
.category-sidebar__list--fix { position: fixed; top: 15px; width: 270px; }
.category-sidebar__list__item__link { 
    padding: 2px 10px;  
}
.sticky-element {
    position: sticky; 
    z-index: 1;
    top: 0;
}
/*************/
.main-menu li a:hover,  
.JSlevel-1 > li:hover > a,
.JSlevel-2 li:hover > a,
.top-menu a:hover,
.categories-title:hover,
footer li a:hover, 
footer .foot-note,
.main-menu li a:hover ~ .JSsubcat-toggle ,
.main-menu li .categories-title:hover ~ .JSsubcat-toggle
{ 
    color:#000;
}

/*************/  

.add-to-cart {
    padding: 8px 15px; 
    margin: 5px 5px 5px 0; 
    border-radius: 0 15px 15px 0;
}
.add-to-cart:hover{ color: var(--add_to_cart_btn_color); }

/* article page admin button*/ 

.admin-article {
    position: absolute;
    top: 65px;
    right: 0;
    background: linear-gradient(#fff,#ddd); 
    padding: 0 7px;
    margin: 5px;
    z-index: 2;  
    border: 1px solid #ddd;
    font-size: 90%;
}
.article-level-edit-btn { 
    border: 1px solid #bbb;
    font-size: 11px;
    padding: 0 5px; 
}
.article-edit-btn {  
    border: 1px solid #bbb; 
    font-size: 11px;
    padding: 0 5px;
    position: absolute;
    right: 0px;
    top: 0;
    background-color: #fff;
} 
.article-edit-btn, #admin-menu {
    color: var(--body_color) !important;
}
/*======================*/
.new-content { padding: 30px 0; }

.new-content img { 
    max-width: 100%;
    max-height: 700px;      
    margin: 0 5px; 
}
/* Login/Registration Forms */
.registration-form {
    max-width: 440px; 
}
.login-title span {
    font-size: 140%;
    margin: 0 10px;
    opacity: .4;
    cursor: pointer;
}
.login-title span.active-user {
    border-bottom: 1px solid;
    opacity: 1;
}
.page-title {  
    padding: 30px 0px 30px;
}
/*************/ 
 
.forgot-psw {
    color: #777;
    margin: 10px 0;
}

/*======= ACTION SLIDER ==============*/
/*.btn-slider {
    padding: 1px 5px;
    color: var(--global_color);
    background-color: transparent; 
    top: -35px;
    position: absolute;
}
.btn-slider:active{ opacity: .6; }*/
  
/* ADDITIONAL FILES */
.files-list-item { 
    margin: 10px;
}
.files-name { font-weight: normal; margin: 6px; }

.features-list li { 
    border-bottom: 1px solid #ddd;
    padding: 2px 10px; 
    width: 49%;
}
.features-list li:nth-child(even) { background: #f5f5f5; }
.generated-features-list:nth-child(even) { background: #f5f5f5; }
.generated-features-list > li:nth-child(1), .generated-features-list > li:nth-child(2), .generated-features-list > li ul li {
    display: inline-block;
    padding: 2px 5px;
    line-height: 1.3;  
}
.generated-features-list > li:nth-child(1){ width: 28%; }
.generated-features-list > li:nth-child(2){ width: 70%; }
.generated-features-list > li ul li{ border-bottom: 1px solid #ddd; width: 50%; }
.generated-features-list > li ul li:nth-last-child(-n+2){ border-bottom: none; }
.files-link img { max-width: 60px; }

/*============ BRENDS ==============*/
.brend-item {
    background: #fff; 
    padding: 5px 15px; 
    color: #222;
    height: 70px;
    margin: 5px 0; 
    box-shadow: 0 0 3px 0px rgba(0,0,0, .1);
    justify-content: center;
    -webkit-justify-content: center;
}
.brend-item img{ max-height: 60px; padding: 5px 0; }
/*.brandSlider img{
    max-width: 100%;
    max-height: 60px;
    margin: 15px 0;
    }*/
    /*=======================*/
 
.no-articles{
    padding: 10px; 
    background: #f9f9f9;
}
#admin-menu { 
    background: #f2f2f2; 
    padding: 5px;   
    position: sticky;
    top: 0;
    z-index: 51; 
}
#admin-menu a i { color: #e55539; font-size: 15px; }
#admin-menu { font-size: 12px; } 
#admin-menu a:hover { color: #aaa; }
.success { margin: 10px 0 0;  padding: 5px; }

/* OCENE */
 
.review i { color: var(--review_star_color); } 
.bw { background-color: var(--inner_body_bg); }
/*.karak-row {
    min-height: 25px;
    border-bottom: 1px solid #bbb; 
}
.karak-row:last-child{
    border-bottom: none;
}*/

/*---------- MEDIAQUERIES ----------*/

@media (min-width: 1440px) { 
    .d-content:after { 
        max-width: 1410px; /* CONTAINER CONTENT WIDTH */
        left: calc(50% - 705px); /* 705px = (CONTAINER CONTENT WIDTH / 2)  */ 
    }
    .JSlevel-2 { min-width: 1110px!important; }
}
@media screen and (min-width: 1200px) { 
    .container {
        width: 100%;
        max-width: 1440px;
    } 
    .JSlevel-2 { min-width: 900px; }

    .JSlevel-2 .clearfix > li { padding: 0 40px; }
}
@media screen and (min-width: 991px) {
    .JSlevel-1 {
        background-color: var(--categories_level_1_bg);
    }
    .JSlevel-2 {
        position: absolute;
        padding: 20px;
        width: 100vw;
        max-width: 680px;
        top: 0px;
        left: 100%;  
        background: var(--categories_level_2_bg); 
        min-height: 100%;
    }

    #responsive-nav .JSlevel-2 .clearfix > li > a { padding-right: 0; }

    .JSlevel-3 > li .JSsubcat-toggle { top: 4px; }

    .JSlevel-1 li:hover .JSlevel-2 {
        display: block; 
    } 

    .main-menu li a { padding: 13px 30px; } 

    .JSlevel-3 li a { padding-top: 7px; padding-bottom: 7px; }

    .categories-title { padding: 15px 35px; }

    /**************/
    .p-left { padding-left: 0; }

    .JScategories:hover .JSlevel-1 { display: block; }

    .JSlevel-1 .JSsubcat-toggle {
        transform: rotate(270deg);
    }
    .JSlevel-3 .JSsubcat-toggle {
        transform: rotate(0deg);
    }
    .JSlevel-4 .JSsubcat-toggle {
        transform: rotate(0deg);
    }
    
    .JSlevel-1 > li:hover { background: var(--gray);color: #000; }

    .JSlevel-1 > li:hover .JSsubcat-toggle { background: transparent; pointer-events: none; }

    .JSlevel-1 > li:hover .lvl-1-img-cont img { filter: invert(1); }
    
    .JSlevel-3 > li:hover .JSsubcat-toggle { pointer-events: auto; }

    .main-menu:hover .JSsubcat-toggle { pointer-events: none; }
    
    .main-menu li:hover .drop-2 { display: block; }

    .JSlevel-1 > li > a { color: var(--level_1_color); }

    .JSlevel-1 { 
        position: absolute; 
        width: 100%;
        min-width: 300px;
        z-index: 50;
        top: 100%; 
    } 

    /*.JSlevel-2 + .JSsubcat-toggle,*/ 
    .JSlevel-3 + .JSsubcat-toggle {
        display: none;
    }
    
    .categories-title { text-align: center; color: #fff; }
    /**************/
    
    body.modal-open { overflow-y: auto; margin-right: -17px; overflow-x: hidden; }
    
    /**************/
    
    .main-menu .drop-2 > li > a {
        border-bottom: 1px solid #fff;    
        /*margin: 0 10px; */
    }  
 
    .drop-2 { 
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 180px; 
        z-index: 51;
        background-color: var(--menu_bg);
    }  
     
    .top-menu li, .main-menu > li { display: inline-block; }

    .JSlevel-1 > li { position: static; }

    .JSlevel-2 li a:hover { opacity: .6; }

    .preheader {
        background: linear-gradient(to left,  var(--global_color) 50%, var(--gray)   50%);
    }
    .top-menu > div:nth-of-type(1) {
        background: var(--gray);
    }
    .top-menu > div:nth-of-type(2) {
        background: var(--global_color);
    }  
    .login-btn { 
        border-bottom: 1px solid;
    }
    .preheader .mailto {
        color: var(--global_color);
    }

    .JStoggle-content { display: inline-block; }

    .md-no-padd { padding: 0; }

    .md-no-padd-right { padding-right: 0; }
    /**************/

    /*#start-page .JSmain-slider, #start-page .banners { margin-left: 23.7%; }*/

    /**************/

   /* .shop-product-card .add-to-cart-container {  
        opacity: 0;
        visibility: hidden; 
    }  
    .shop-product-card:hover .add-to-cart-container { opacity: 1; visibility: visible; }*/
 

    .txt-ban-text:not(.small-txt-ban .txt-ban-text) { max-width: 70%; }

    .landing-p .JSmain-slider .main-desc { font-size: 250%; }
    /**************/
 
    #product-page .product-card { width: 25%;  } 

  
    /**************/

    /*.JSd_content {
        width: calc(100% - 270px); 
    }*/
    .JSloader {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 50;
        background: rgba(255,255,255, .98); 
    }

    .load-ring { 
        position: relative; 
        width: 60px;
        height: 60px;
        margin: 200px 0;
    }
    .load-ring div { 
        position: absolute;
        width: 100%;
        height: 100%; 
        border: 2px solid #b3b3b3;
        border-radius: 50%;
        animation: load-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #b3b3b3 transparent transparent transparent;
    }
    .load-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }
    .load-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }
    .load-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }
    @keyframes load-ring {
        0%   { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    @-webkit-keyframes load-ring {
        0%   { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    } 

    /***********/ 
}

/*--- MIN WIDTH 768px ---*/
@media screen and (min-width: 768px) {

    .logo { padding: 25px 0; }

    .header-search  #JSsearch2 { padding: 20px; }

    .preheader a:not(.mailto):not(.social-icons a) { padding: 15px; }

    .JSmobile-user a { display: inline-block; }

    .generated-features-list:last-child { border-bottom: none; }

    .generated-features-list{
        font-size: 1em;
        padding: 0 10px;
        display: table;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }  
    .shop-product-card .price-holder {
        height: 40px;
    }
    .shop-product-card .product-name {
        height: 32px;
    }
    .news .news-title {
        height: 63px;
        border-bottom: 1px solid #DADADA;
    }
    /****************/

    .border-bottom-section {
        border-bottom: 1px solid #c1d1eb;
        padding-bottom: 60px;
    }
    .main_imgGallery { height: 510px; }

    .main_imgGallery .JSmain_img { max-height: 500px; }

    .container-fluid  .gallery_slider {
        grid-template-columns: repeat(15, 1fr);
    }
    .container .gallery_slider { grid-template-columns: repeat(10, 1fr); }
    
    .gallery_slider {
        grid-auto-rows: 70px;
    }
    .gallery_slider img { max-height: 60px; }

    .gallery-ban .bg-img:nth-child(1) {
        grid-column: 1 / 8;
        grid-row: 1 / 5;
    } 
    .gallery-ban .bg-img:nth-child(2) {
        grid-column: 8 / 10;
        grid-row: 1 / 3;
    } 
    .gallery-ban .bg-img:nth-child(3) {
        grid-column: 8 / 10;
        grid-row: 3 / 5;
    } 

    .JScookiesInfo_btn { 
        float: right; 
        padding: 6px 15px;
        margin: 5px 0;
    }

    .additional_info_article > ul:nth-of-type(3) { text-align: right; }
    /*============== LOGO BANKS ===========*/ 
    .after-footer .banks .banc_main_logo img { 
        max-width: 235px; 
        margin: 0 8px; 
    }
    .after-footer .banks.justify-between {
        justify-content: space-between;
        -webkit-justify-content: space-between;
    }
    .after-footer .banks.justify-center {
        justify-content: center;
        -webkit-justify-content: center;
    }
}

/*======================*/
@media only screen and (max-width: 1200px) {
    .container { 
        width: auto; 
        padding: 0; 
    }
}
@media only screen and (max-width: 991px) {
    .preheader {
        background: var(--global_color);
    }
    .JStoggle-content a { color: var(--global_color); }

    .JSmobile-user li { display: inline-block; }

    .JStoggle-content {
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 2;
        background: var(--gray);
        width: 100%;
        text-align: left;
    }
    .header-cart-container { text-align: center; }
    
    .JScart_num {     
        left: calc(100% + 3px);
        position: absolute;
        bottom: 0;
        font-size: 11px;
        font-weight: 600;
    }

    .header-icons { 
        font-size: 28px; 
        padding: 0;
    }

    .absolute-phone { 
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0; 
        z-index: 1;
    }
    .sm-static { position: static; }

    .login-btn {  font-size: 20px; }

    #responsive-nav {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        max-width: 288px;
        width: 0%; 
        box-shadow: 0 0 5px var(--gray);
        background-color: var(--gray);
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: 0.5s all;
        transition: 0.5s all;
        z-index: 990;
        overflow-y: auto;
    }

    .resp-nav-btn {  
        color: var(--global_color);
        font-size: 22px; 
    }

    .openMe {
        width: 100% !important;
        -webkit-transform: translateX(0%) !important;
        -ms-transform: translateX(0%) !important;
        transform: translateX(0%) !important;
    }


    .main-menu li a, .categories-title { padding: 10px 30px 10px 15px; } 

    /**************/ 
  
    .main-menu .drop-2 li a, .JSlevel-1, .JSlevel-2, .JSlevel-3 { margin: 0 0 0 15px; } 

    .JSsubcat-toggle { 
        display: inline-block;
        top: 7px;
    }  
 
    .main-menu { border-top: 1px solid #000; color: #000; }   
         
    .JSclose-nav span { 
        font-size: 30px;
        padding: 5px 10px;
    } 
  
    .JSlevel-1 li a {   
        padding-top: 10px;
        padding-bottom: 10px; 
    } 

    .JSlevel-1 > li { position: relative; }

    .JSlevel-2 > li a { font-size: 90%; }

    .sm-no-padd, .JSlevel-2 > li { padding: 0; } 

    .hidden-small, .JSlevel-3 { display: none; }

    .padd-15 { padding: 0 15px; }
    
    #start-page .padding-slider { padding-left: 15px; padding-right: 15px;  }

}
/*=================*/
@media only screen and (max-width: 768px) {

    .additional_info_article > * { width: 100%; }

    .logged-dropdown-user { right: 0; left: unset; }

    .xs-header-ordered > *:nth-of-type(1) {
        order: 1;
    }
     .xs-header-ordered > *:nth-of-type(2) {
        order: 5;
    }
     .xs-header-ordered > *:nth-of-type(3) {
        order: 2;
    }
     .xs-header-ordered > *:nth-of-type(4) {
        order: 3;
    }
     .xs-header-ordered > *:nth-of-type(5) {
        order: 4;
    }
    .JSopen-user { padding: 5px; }

    .preheader a:not(.mailto),  #logout-button, .JSbroj_wish  {
        padding: 5px 15px;
        display: block;
        color: #000;
        text-align: left;
    }
    .JSbroj_wish { width: 100%; }

    .logged-dropdown-user > div { display: block; }

    .JSmobile-user {
        position: absolute;
        top: 100%;
        right: 10px;
        z-index: 1;
        background: var(--gray);
        display: none; 
    }
    .top-menu ul li:not(:last-of-type) a {
       border-bottom: 1px solid #fff;
    }

    .JSmobile-user li { display: block; }

    .header-search input[type="text"], .header-search select { 
        margin-bottom: 10px; 
        height: 45px;
    }
    .JSsearch-button2 { height: 35px; width: 35px; }

    .logo { padding: 15px 0; }

    /*.JSsearch-button2 { height: calc(100% - 13px); }*/

    .JScategory-sidebar__list {
        position: fixed;
        top: 50%;
        right: 0px;
        margin-right: -80%;
        width: 80%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: margin 0.2s ease-in-out;
        transition: margin 0.2s ease-in-out;
        border: 1px solid #ddd;
    }
    .JScategory-sidebar__list__toggler {
        line-height: 35px;
        text-align: center;
        font-size: 20px;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 50%;   
        transform: translateY(-50%);
        left: -35px;
        background: #f0f0f0;
        border-radius: 3px 0px 0px 3px;
        color: #747474;
        font-weight: 700;
        border: 1px solid #747474;
        cursor: pointer;
    }
    .category-sidebar__list--open { margin-right: 0%;} 
    .category-sidebar__list--open .JScategory-sidebar__list__toggler:before { content: "\2192";} 
    .JScategory-sidebar__list__toggler:before { content: "\2190";} 

    footer li {
        margin: 10px 0;
    } 
    
    a.elevatezoom-gallery{ width: 23%; } 
    
    .sm-text-center { text-align: center; }
    
    .disableZoomer:after{
        content: ''; 
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .generated-features-list > li:nth-child(2){ width: 100%; }
        
    .ft-section-title{
        min-height: auto;
        margin: 15px 0; 
        border-bottom: 1px solid #ddd; 
        padding: 0 0 5px; 
    }
         
    .category-sidebar__list__item__link{ padding: 5px 10px; } 
    
    .product-options { padding: 5px 0; }
         
    .generated-features-list { margin: 30px 0; }
    
    .product-preview-tabs .generated-features-list .features-list-title { 
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
        color: #000; 
        font-weight: 600; 
        width: 100%;
    } 

    .cart-item.row {
        border-bottom: 1px solid #ddd;
    }
 
    .price-holder {
        font-size: 120%; 
    }

    .shop-product-card { border-top: 1px solid #ddd; }

    .compare-table {
        padding: 10px 3px;
    }

    input.weight { text-align: left; max-width: 85px; }

    .d-content {
        min-height: 250px;
    }

    .gallery-title {
        font-size: 110%;  
    }

    /****************/
    .padding-v-20 > .padding-v-20 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .landing-p .JSmain-slider .sliderText {
        max-width: calc(100% - 40px);
        margin: 0 20px;
    }
    .JSmain-slider .main-desc, .landing-p .section-title, .txt-ban-text h2 {  
        font-size: 20px;
    }
    .icons-wrapper h3 { font-size: 25px; }

    .JSmain-slider .main-desc {  
        max-height: 53px;
        margin-bottom: 10px;
    }
    .main_imgGallery { height: 180px; }

    .main_imgGallery .JSmain_img { max-height: 170px; }

    .gallery_slider {
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 50px;
    }
    .gallery_slider img { max-height: 40px; }

    .small-txt-ban .bg-img { 
        border-radius: 15px; 
        margin: 5px 15px 35px;
    }

    .txt-ban-text { margin: 15px 0; }

    .icons-wrapper > div, .sectors-contact > div { padding-left: 0; padding-right: 0; }

    .sectors-contact li { display: inline-block; width: 42%; } 

    /*============== LOGO BANKS ===========*/ 
    .after-footer .banks { 
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .gallery-ban {
        grid-template-columns: repeat(8, auto); 
        grid-template-rows: repeat(8, 1fr);
    }
    .gallery-ban .bg-img:nth-child(1) {
        grid-column: 1 / 9;
        grid-row: 1 / 5;
    } 
    .gallery-ban .bg-img:nth-child(2) {
        grid-column: 1 / 5;
        grid-row: 5 / 9;
    } 
    .gallery-ban .bg-img:nth-child(3) {
        grid-column: 5 / 9;
        grid-row: 5 / 9;
    } 
    .gallery-ban .bg-img { padding-top: 38%; }
} 

/*--- MAX WIDTH 480px ---*/
@media screen and (max-width:479px) { 
    .section-title, .news-title
    { 
        font-size: 18px;
    } 
    
    .article-heading { font-size: 16px; }
    
    .zoomWrapper { height: 180px !important; } 
    
    .tab-titles { font-size: 13px; } 
    
    /*************/

    .shop-product-card .product-image-wrapper { height: 200px; }
    
    .shop-product-card .product-image { max-height: 190px; }
   
    /*************/
    
    /*.after-footer img { max-height: 30px; }*/
    
    .cart-item li { border: none; min-height: auto; } 
    
    .sliderText {
        font-size: 90%;
        /*background: rgba(255, 255, 255, .3);*/
    }
    
    .zoomContainer { display: none; }
    
    .JSmain-slider {
        max-height: 170px;
    }
    .small-icon-column > div, .small-icons-section > div { width: 50%; }
}